---
layout: default
title: Herbal Alchemy
---

%section#landing
  .center
    %img#logo{src: "images/logo-alpha-white.png", alt: ""}

    #high-priority-information
      .main-text herbal alchemy

/ CONTENT
#products
  {% haml products.haml %}

/ %section#sustainability
/   {% haml sustainability.haml %}
