---
layout: default
title: Shop
---

#tmpshop
  %section
    .info-wrapper.center
      .info
        %h2.title Webshop coming soon!
        %p In the meantime, for orders or questions please get in touch directly
        %button.ga-track.button.btn-lg
          %a{href: 'mailto:daxmix.smokingblend@gmail.com'} email me!

