%section.description-wrap
  %p
    I've been making herbal smoking blends since I began studying herbalism in 2009. Over that time I've experimented with many different plants and recipes and learned what works together and in what proportions - and what doesn't. These smoking blends represent long years of attempts to find a tobacco substitute that makes smoking enjoyable without the harshness and unpleasant odor of tobacco.
  %p
    The Herbal Alchemy logo is a fusion of the alchemical sign for Earth and the Astrological sign for Pluto - which was itself a symbol for Alchemy.

%section.image-wrap
  %img.about-info{src: 'images/logo-alpha-white.png'}
