%section#description-wrap
  -# maybe this should be Markdown?
  Whether you don't want tobacco or do want something different, Herbal Alchemy's smoking blends offer a more enjoyable smoking experience - each blend is hand-crafted according to carefully formulated recipes to create smooth smoke that tastes great while adding a gentle somatic effect to each drag.
