%section#description-wrap
  -# maybe this should be Markdown?
  The economy we've created makes it difficult to approach sustainable design principles without enormous economies of scale - nevertheless, sustainability in product and packaging is of the highest priority.
  No Plastic, No Chemicals, Local and regional sources used whenever possible, Aluminum packaging [reddit chart]
