/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

/* Set AuldMagick font-family from file */
@font-face {
  font-family: AuldMagick;
  src: url("../fonts/AuldMagick.ttf");
}

/* Set KeepCalm font-family from file */
@font-face {
  font-family: KeepCalm;
  src: url("../fonts/KeepCalm-Medium.ttf");
}

/* Set DKBoardingHouse font-family from file */
@font-face {
  font-family: DKBoardingHouse;
  src: url("../fonts/DKBoardingHouse.otf");
}

html {
  /* background: #91b897; */
  background: lightslategrey;
}

#bg-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -7em;
  opacity: 0.35;
}

body {
  min-height: 100%;
  color: #fff;
  overflow-x: hidden;
  overflow-y: hidden; /* careful...*/
}

/* https://stackoverflow.com/a/20352949/2128691 */
body::after {
  content: '';
  display: block;
  height: 3em; /* Set same as footer's height */
}

footer {
  position: fixed;
  padding-bottom: 5px;
  bottom: 0;
  width: 100%;
  height: 3em;
  text-align: center;
  font-family: 'metamorphous';
  font-size: 0.777em;
  letter-spacing: 3px;
}

#footer-links ul {
  list-style: none;
  margin-left: 0;
}

#footer-links li {
  vertical-align: middle;
}

#footer-links a {
  text-decoration: none;
  cursor: pointer;
}

#impressum {
  font-family: serif;
  font-size: 10px;
}

#impressum h2 {
  color: white;
}

#impressum h4 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: -1px;
}

h1 {
  font-size: 1.3em;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 1.1em;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  padding-left: 20px;
  list-style-type: none;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 78%;
  padding: 15px 10px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  background: #fff;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.justifed {
  text-align: justify;
  text-justify: inter-word;
}

.hidden {
  display: none;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
section {
  font-size: 1.25em;
}

#logo {
  width: 80%;
  border: none;
  box-shadow: none;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#high-priority-information .main-text {
  text-transform: uppercase;
  font-family: 'metamorphous';
  font-size: 4vw;
  letter-spacing: 9px;
  padding-left: 2vw;
}

#high-priority-information .sub-text {
  font-family: AuldMagick;
  font-size: 5vw;
  letter-spacing: 7px;
}

/* NAV */

#nav {
  margin-bottom: 2em;
  max-width: 100%;
  width: 100%;
}

.top-nav-bar {
  background: darkslategrey;
}

.top-nav-bar #nav li {
  text-shadow: none;
}

#nav li {
  font-family: 'DKBoardingHouse';
  color: white;
  text-shadow: 3px 3px 9px black;
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: 3px;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: pointer;
}

#nav li.selected {
  color: #91b897;
  text-shadow: 3px 3px 6px black;
}

/**** not using sub-nav right now ****/
/****
.sub-nav {
  margin-top: -3em !important;
}

.sub-nav li {
  font-family: 'DKBoardingHouse';
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  margin-right: 1.2em;
}

.sub-nav li.selected {
  text-decoration: underline;
}
****/

#nav-wrap:after {
  content: '';
  display: block;
  clear: both;
}

.tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(30%);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  font-family: DKBoardingHouse;
  font-size: 1.7em;
  letter-spacing: 1px;
  line-height: 1;
}

#selection-wrap ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 0; /* overwrite default ul style */
}

#selection-wrap li {
  cursor: pointer;
}

#selection-wrap li img {
  width: 40%;
}

#additional-information-wrap {
  grid-column: 1/3;
  letter-spacing: 1px;
}

/* products.haml */

#smoking-blend-symbols-nav li .name {
  margin-top: 1em;
}

#product-detail-wrap .product-details {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 3em;
}

#product-detail-wrap .product-label {
  width: 100%;
}

#product-detail-wrap .description {
  align-self: center;
}

#product-detail-wrap .description .webshop-link {
  font-size: 1.5em;
  margin-top: 1em;
}

/* end products.haml */

footer {
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media (max-width: 1235px) {
}

@media (min-width: 1200px) {
}
