/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

/* Set AuldMagick font-family from file */
@font-face {
  font-family: AuldMagick;
  src: url("../fonts/AuldMagick.ttf");
}

/* Set KeepCalm font-family from file */
@font-face {
  font-family: KeepCalm;
  src: url("../fonts/KeepCalm-Medium.ttf");
}

/* Set DKBoardingHouse font-family from file */
@font-face {
  font-family: DKBoardingHouse;
  src: url("../fonts/DKBoardingHouse.otf");
}

body {
  min-height: 100%;
  color: #fff;
  overflow-x: hidden;
}

#impressum {
  font-family: serif;
  font-size: 10px;
}

#impressum h2 {
  color: white;
}

#impressum h4 {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: -1px;
}

h1 {
  font-size: 1.3em;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 1.1em;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  padding-left: 20px;
  list-style-type: none;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 78%;
  padding: 15px 10px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  background: #fff;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.justifed {
  text-align: justify;
  text-justify: inter-word;
}

.hidden {
  display: none;
}

/*******************************************************************************
Mobile first - styles for larger screens follow
*******************************************************************************/
section {
  width: 100%;
  font-size: 1.25em;
}

#landing {
  /*
   background-image: url('../images/wildplants-min.jpg');
  background-position: center;
  background-size: cover;
  opacity: 80%;
  */
  background: black;
  height: 100vh;
}

#landing #logo {
  width: 80%;
  border: none;
  box-shadow: none;
  display: block;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#landing #high-priority-information .main-text {
  text-transform: uppercase;
  font-family: 'Metamorphous';
  font-size: 8vw;
  letter-spacing: 9px;
  padding-left: 2vw;
}

/* products.haml */

#products {
  background-image: url('https://garden.spoonflower.com/c/7918859/p/f/m/reHHKVkTowfk5L40xHE00e5GM13VFuLxQ6d8W5iSuS3Ne-am493dRw/Alchemy.jpg');
  color: white;
  border-top: 3px solid black;
  padding-bottom: 1em;
}

#products #smoking-blends .intro .title {
  background: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: 2.5em;
  color: black;
  text-transform: uppercase;

  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

#products #smoking-blends .intro .description {
  background: white;
  border: 2px solid black;
  color: black;
  opacity: 0.95;

  width: 90vw;
  margin: 1.5em auto;
  padding: 1em;
}

/*
#products #smoking-blends .icons .icon {
  display: inline;
}

#products #smoking-blends .icons img {
  width: 20%;
}
*/

#products #product-information .label {
  text-align: center;
}

#products #product-information .label img {
  width: 55vw;
}

#products #smoking-blends #product-information .product-details {
  background: white;
  border: 2px solid black;
  color: black;
  opacity: 0.95;

  width: 90vw;
  /* height: 97vh; */
  margin: 5vw;
  padding: 1em;
}

#products #product-information .product-img-wrapper {
  cursor: pointer;
}

#products #product-information .product-img-wrapper img {
  width: 30%;
}

/* end products.haml */

footer {
  position: static;
  bottom: 0;
  background: white;
  border-top: 1px solid black;
  width: 100%;
  letter-spacing: 3px;
  padding: 1em 0;
}

footer a {
  color: black;
  text-decoration: none;
}

/*******************************************************************************
Large Device Styles
*******************************************************************************/

@media (min-width: 640px) {
  #landing #high-priority-information .main-text {
    font-size: 6vw;
  }

  #products #smoking-blends .intro .description {
    width: 60vw;
  }

  #products #smoking-blends #product-information .product-details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: auto;
  }

  #products #smoking-blends #product-information .product-details .label img {
    width: 20vw;
  }

  #products #smoking-blends #product-information .product-details .description {
    align-self: center;
    font-size: 1em;
    text-align: left;
    width: 80%;
    margin-left: 2em;
  }
}

@media (min-width: 1440px) {
  #landing #logo {
    width: 60%;
    padding-top: 5%;
  }

  #landing #high-priority-information .main-text {
    font-size: 4vw;
  }
}

